body{
    font: 15px/1.5 Arial,Hevetica,sans-serif;
    padding: 0%;
    margin: 0%;
    background-color:#f4f4f4;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul{
    padding: 0%;
    margin: 0%;
    float: right;
}
header{
    background: darkslateblue;
    color: #ffff;
    padding: 30px;
    min-height: 70px;
    border-bottom: chartreuse 3px solid;
}
header a{
    color: #ffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;  
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
    color: chartreuse;
}
header #branding h1{
    margin-top: 3px;
}
header nav{
    float: right;
    margin-top: 5px;
}
header .highlight, header .current a{
    color: chartreuse;
    font-weight: bolder;
}
header a:hover{
    color: orangered;
    font-weight: bold;
}
#showcase{
    min-height: 400px;
    background:url('/static/images/background.JPEG') 0 -400px;
    text-align: center;
    color: #ffffff;
    
}
#showcase h1{
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#showcase p{
    font-size: 30px;
    color: #ffffff;
    font-weight: bolder;
}
footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
    
}
#log{
    float: left;
    height: 150px;
    width:150px;
	display: inline-block;
	margin: 0%;
}
.contained{
    margin-right: 300px;
}
 .new{
    width: 1200;
    position: relative;
    margin-left: 70px;
    align-content: center;
    text-decoration: #e8491d;
    font-size: larger;

}
