{% extends "farmers/base.html" %}

{% block content %}
  <form method="POST" action="{% url 'users:register' %}">
    {% csrf_token %}
    {{form.username.label}}
    {{form.username}}
      <br>
      <br>
    {{form.password1.label}}
    {{form.password1}}
      <br>
      <br>
    {{form.password2.label}}
    {{form.password2}}
      <br>
      <br>

    <button name="submit">Register</button>
    <input type="hidden" name="next" value="{% url 'farmers:index' %}"/>
  </form> 
{% endblock content %}